body {
    background-color: #0f1a2a;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 40px auto 40px;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 40px;
    height: 40px;
}

.padDiv {
    display: grid;
    grid-template-columns: 100px repeat(8,30px);
    grid-template-rows: repeat(8,30px);
    grid-gap: 10px 10px;
    align-items: center;
    margin: 20px auto;
}

.track {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    font-size: 16px;
}

.trackIcon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.b {
    background-color: #333333;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: all 0.1s;
}

.bp {
    background-color: #444444;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: all 0.1s;
}

.bOn {
    filter: brightness(1.5);
}

.b0 {
    background-color: #0faf0f;
}

.b1 {
    background-color: #af0f0f;
}

.b2 {
    background-color: #cfcf10;
}

.b3 {
    background-color: orange;
}

.b4 {
    background-color: lightskyblue;
}

.b5 {
    background-color: cyan;
}

.b6 {
    background-color: peru;
}

.b7 {
    background-color: purple;
}

#container>img{
    border: solid 1px white;
}