body {
    background-color: #0f1a2a;
    color: white;
    margin: 0;
}

button {
    border: solid 1px #ffffff;
    background-color: #3f4a5a;
    border-radius: 5px;
    color: white;
    width: 80px;
    height: 30px;
    padding: 0;
    margin: 5px;
}

header {
    background-color: #111111;
    display: grid;
    grid-template-columns: 40px auto 40px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header img {
    height: 40px;
    border-radius: 3px;
}

/* header>.memberIcon {
} */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padDiv {
    display: grid;
    grid-template-columns: 55px repeat(8,30px);
    grid-template-rows: repeat(9,30px);
    grid-gap: 5px 5px;
    align-items: center;
    margin: 20px 10px;
}

.track {
    display: flex;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    justify-content: flex-end;
}

@media (max-width:400px) {
    .padDiv {
        grid-template-columns: repeat(8,30px);
        grid-gap: 2px 2px;
        margin: 5px auto;
    }
    .track {
        display: none;
    }
}

.trackIcon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.pointNumber {
    text-align: center;
    font-size: 12px;
    align-self: flex-start;
}

.b {
    background-color: #333333;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: all 0.1s;
}

.bp {
    background-color: #444444;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: all 0.1s;
}

.bOn {
    filter: brightness(1.5);
}

.bHit {
    background-color: #dddddd;
}

.bSelected {
    /* filter: brightness(2); */
    background-color: #666666;
}

.b0 {
    background-color: #0d850d;
    color: #ffffff;
}

.b1 {
    background-color: #850d0d;
    color: #ffffff;
}

.b2 {
    background-color: #8f8f0d;
    color: #0f1a2a;
}

.b3 {
    background-color: #a8710b;
    color: #0f1a2a;
}

.b4 {
    background-color: lightskyblue;
    color: #0f1a2a;
}

.b5 {
    background-color: cyan;
    color: #0f1a2a;
}

.b6 {
    background-color: peru;
    color: #0f1a2a;
}

.b7 {
    background-color: purple;
    color: #ffffff;
}

.b0.bOn,.b1.bOn,.b2.bOn,.b3.bOn,.b4.bOn,.b5.bOn,.b6.bOn,.b7.bOn {
    transform: scale(1.2,1.2);
    background-color: #ffffff;
    filter: drop-shadow(5,5,5);
}

#container>img{
    border: solid 1px white;
}

footer {
    background-color: #111111;
    color: #aaaaaa;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

@media (min-width:400px) and (min-height:600px),
(max-width:400px) and (min-height:510px){
    footer {
        position: absolute;
        bottom: 0;
    }
}

/* log in ------------------------*/
.shield, .logInShield{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:#0f1a2a;
    z-index: 50;
    opacity: 0.6;
}

.logInShield {
    z-index: 10;
}

.alert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:300px;
    height:350px;
    border-radius: 10px;
    border:1px solid #ffffff;
    background-color: #3f4a5a;
    color: white;
    z-index: 100;
}

.alertImg{
    /* filter: drop-shadow(3px 3px 3px #0f1a2a); */
    width: 128px;
    margin: 10px auto;
    animation: show 0.6s;
}

.alertText {
    width: 250px;
    text-align: center;
}

.logIn {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border:1px solid #ffffff;
    background-color: #3f4a5a;
    color: white;
    z-index: 20;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.logInDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logInImg {
    height: 40px;
    margin: 10px auto;
}

.logInDiv>input {
    width: 250px;
    height: 20px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
}

.logInDiv>button {
    width: 260px;
    height: 30px;
    cursor: pointer;
    background-color: #0f1a2a;
}

.logInDiv>a {
    /* width: 260px; */
    /* text-align: end; */
    align-self: flex-end;
    cursor: pointer;
    margin: 0 10px;
}

.logInText {
    font-size: 12px;
    text-decoration: underline;
    color: #aaaaaa;
}

.logInOr {
    font-size: 12px;
}

.divideLine {
    display: flex;
    align-items: center;
}

.divideLine>.hrLine {
    flex: 1;
    height: 1px;
    width: 71px;
    background-color: #ffffff;
    margin: 10px;
}

.logInIcon {
    height: 60px;
    margin: 10px 30px;
    cursor: pointer;
}

@keyframes show{
    0% {
        opacity: 0;
    }
    25% {
        transform: rotate(15deg);
        opacity: 1;
    }
    50% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.alertBtn {
    background-color: #0f1a2a;
    /* border: 1px solid #aaaaaa; */
}

.alertCancel {
    background-color: #3f4a5a;
    /* border: 1px solid #aaaaaa; */
}
