body {
    background-color: #0f1a2a;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 40px auto 40px;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 40px;
    height: 40px;
}

.pad {
    display: grid;
    grid-template-columns: repeat(5,30px);
    grid-template-rows: repeat(2,40px);
    grid-gap: 10px 10px;
}

.block {
    background-color: #333333;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.blockOn {
    background-color: #666666;
}