
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

@media (max-width:650px) {
    nav {
        flex-direction: column;
    }
}

nav .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

.nav input {
    margin: 5px;
    border-radius: 5px;
}

.nav>img {
    margin: 5px;
    width: 30px;
    border-radius: 5px;
    /* border: solid 1px #777777; */
    cursor: pointer;
}

.nav>button {
    border: 0px;
    width: 60px;
}

.metronome, .kbMode, .volume, .visualSwitch, .clear {
    background-color: #3f4a5a;
}

.nav>img:hover, .nav>button:hover {
    filter: brightness(1.5);
}

.metronomeOn, .kbModeOn, .volumeOn, .visualSwitchOn {
    background-color: #4D99CC;
}

.nav input[type="number"] {
    width: 50px;
    height: 20px;
    border: 0px;
    padding: 5px;
}

#play {
    /* background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/play.svg); */
    background-color: #4D99CC;
}

.nav>button>img {
    width: 29px;
    height: 29px;
}
/* 
#stop {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/stop.svg);
} */

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* overflow: visible; */
    overflow: hidden;
    height: 10px;
    width: 100px;
    outline: transparent;
    border-radius: 5px;
    border: transparent;
    background: #3f4a5a;
    touch-action: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #4D99CC;
    border-radius: 5px;
    transition: .2s;
    box-shadow: -50px 0 0 45px #4D99CC;
}

/* input[type="range"]::-webkit-slider-runnable-track:hover>#thumb{
    transform: scale(1.5,1.5);
    background-color: #ffffff;
} */

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active,
input[type="range"]::-webkit-slider-thumb:focus,
input[type="range"]::-moz-range-thumb:hover,
input[type="range"]::-moz-range-thumb:active,
input[type="range"]::-moz-range-thumb:focus{
    background-color: #ffffff !important;
}

/* input[type="range"]::-webkit-slider-thumb::before {
    position: absolute;
    top: 0px;
    width: 2000%;
    height: 1000%;
    left: -197px;
    background-color: #aaaaaa;
    content:"-";
    pointer-events: none;
    transition:.2s;
    z-index: 1;
} */

input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
    transition: .2s;
    border: none;
}

input[type="range"]::-moz-range-track{
    height: 10px;
    background-color: #3f4a5a;
}

input[type="range"]::-moz-range-progress{
    height:10px;
    background:#aaaaaa;
}

input[type="range"]::-moz-focus-outer{
    border:none;    /* 去除 focus 時候的外框虛線 */
}

/* side nav --------------------------------------*/
.sideNav {
    width: 200px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: -200px;
    transition: left 0.5s;
    background-color: #3f4a5a;
    z-index: 10;
    display: grid;
    grid-template-columns: 120px;
    grid-template-rows: repeat(6,60px) 1fr 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.sideNavShow {
    left: 0px;
}

.navShield {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 8;
}

.sideNav>#closeNav {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.sideNav>button {
    width: 100%;
}

.beatListBtn {
    align-self: flex-end;
    background-color: #4D99CC;
}

.beatListBtn::after {
    content: "▼";
}

.beatListBtnShow::after {
    content: "▲";
}

.beatListDiv {
    overflow: auto;
    justify-self: flex-start;
    align-self: flex-start;
    width: 130px;
    transform: translate(0,-50%) scale(1,0);
    transition: all 0.3s;
}

.beatListDivShow {
    transform: translate(0,0) scale(1,1);
    align-self: stretch;
}

/* width */
.beatListDiv::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.beatListDiv::-webkit-scrollbar-track {
    background-color: #0f1a2a;
    /* box-shadow: inset 0 0 2px grey;  */
    border-radius: 3px;
}

/* Handle */
.beatListDiv::-webkit-scrollbar-thumb {
    background: #777777; 
    border-radius: 3px;
}

.beatDiv {
    display: flex;
    width: auto;
    margin: 10px 10px 10px 0;
    background-color: #0f1a2a;
    border-radius: 5px;
    padding: 5px;
}

.beatDiv div {
    cursor: pointer;
}

.beatName {
    flex: 1;
}

.deleteBeat {
    flex: none;
    width: 10px;
    height: 10px;
    text-align: center;
    color: #aaaaaa;
    font-size: 10px;
}

/* pop up naming ---------------------------------*/
/* .shield {
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:#0f1a2a;
    z-index: 50;
    opacity: 0.6;
} */

.naming {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:300px;
    height:180px;
    border-radius: 10px;
    border:1px solid #ffffff;
    background-color: #3f4a5a;
    color: white;
    z-index: 60;
}

@media (max-width:375px) {
    .naming{
        width: 75%;
    }
}

.namingText {
    width: 80%;
    text-align: center;
}

.naming>input {
    width: 80%;
    height: 20px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
}

.namingBtn {
    background-color: #0f1a2a;
    /* border: 1px solid #aaaaaa; */
}

.namingCancel {
    background-color: #3f4a5a;
    /* border: 1px solid #aaaaaa; */
}


/* section ---------------------------------------*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

canvas {
    position: absolute;
    transform: translateX(22.5px);
    border-radius: 5px;
    z-index: 0;
    opacity: 1;
}

/* @media (max-width:1200px) and (min-width:650px) {
    canvas {
        transform: initial;
    }
}
@media (max-width:650px) {
    canvas {
        transform: initial;
    }
}*/
@media (max-width:375px) {
    canvas {
        transform: translateX(16px);
    }
}

.padDiv {
    display: grid;
    grid-template-columns: 40px repeat(8,30px);
    grid-template-rows: repeat(8,30px) 10px;
    grid-gap: 5px 5px;
    align-items: center;
    margin: 0 10px 15px;
    z-index: 2;
}

.track {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    border-radius: 5px;
    justify-content: flex-end;
    background-color: #333333;
}

.trackIcon {
    width: 30px;
    height: 30px;
    margin: 0;
}

.trackNumber {
    font-family: "arial", "sans-serif";
}

@media (max-width:375px) {
    .padDiv {
        grid-template-columns: repeat(8,30px);
        grid-gap: 2px 2px;
        margin: 0 auto 15px;
    }
    .trackNumber {
        display: none;
    }
    .trackIcon {
        margin: 0;
    }
}

.funcBtn {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    margin: 3px 0;
}
.funcDiv {
    cursor: pointer;
    position: relative;
}
.funcItemDiv {
    background-color: #333333;
    border-radius: 5px;
    text-align: left;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: initial;
    transform: scale(1,0);
    transform-origin: top;
    transition: all 0.2s;
    padding: 10px;
}

.funcItemDivOn{
    transform: scale(1,1);
}

.funcItem {
    background-color: #4D99CC;
    border: 0px;
    font-size: 16px;
    width: 150px;
    margin-bottom: 10px;
}

.pointNumber {
    text-align: center;
    font-size: 12px;
    font-family: "arial", "sans-serif";
    align-self: flex-start;
    color: #777777;
}

.pointNumberP {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: "arial", "sans-serif";
    align-self: flex-start;
    color: #ffffff;
}

.pointNumberOn {
    background: #4d99cc;
}

.b {
    background-color: #333333;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: all 0.1s;
    opacity: 0.8;
}

.bp {
    background-color: #555555;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: all 0.1s;
    opacity: 0.8;
}

.bOn {
    filter: brightness(1.5);
}

.bHit {
    background-color: #dddddd;
}

.bSelected {
    /* filter: brightness(2); */
    background-color: #777777;
}

/* page button */
.pageDiv {
    display: flex;
    align-items: center;
}

.pageButton {
    width: 30px;
    height: 10px;
    border-radius: 5px;
    background-color: #3f4a5a;
    margin: 0 5px 15px;
}

.pageNow {
    background-color: #4D99CC;
}

.pagePlaying {
    border: solid 1px white;
}

/* track setting */
.trackSettingListDiv {
    display: grid;
    grid-template-columns: repeat(8,auto);
    /* grid-template-rows: repeat(2,auto); */
    grid-gap: 0 15px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    touch-action: none;
}

.trackSetDiv {
    display: grid;
    grid-template-columns: 10px 30px;
    grid-template-rows: 120px 30px 50px;
    grid-template-areas:
        ". volume"
        ". switch"
        "number icon";
    grid-gap: 10px 0px;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px 30px 10px 20px;
    background-color: #333333;
    touch-action: none;
}

/* .trackSetVolumeKey {
    grid-area: volumeKey;
} */

.trackSetVolume {
    grid-area: volume;
    transform: rotate(270deg);
    transform-origin: center;
}

/* .trackSetVolume::-webkit-slider-thumb:hover{
    background-color: #ffffff;
} */

#trackSetVolume0::-webkit-slider-thumb{
    background: #41d841;
    width: 15px;
    /* border: 0px; */
    box-shadow: -50px 0 0 45px #41d841;
}
#trackSetVolume0::-moz-range-thumb{
/* #trackSetVolume0::-moz-range-progress { */
    background: #41d841;
    box-shadow: -50px 0 0 45px #41d841;
}
#trackSetVolume1::-webkit-slider-thumb {
    background: #d65d5d;
    width: 15px;
    /* border: 0px; */
    box-shadow: -50px 0 0 45px #d65d5d;
}
#trackSetVolume1::-moz-range-thumb,
#trackSetVolume1::-moz-range-progress {
    background: #d65d5d;
}
#trackSetVolume2::-webkit-slider-thumb {
    background: #e2e228;
    width: 15px;
    /* border: 0px; */
    box-shadow: -50px 0 0 45px #e2e228;
}
#trackSetVolume2::-moz-range-thumb,
#trackSetVolume2::-moz-range-progress {
    background: #e2e228;
}
#trackSetVolume3::-webkit-slider-thumb {
    background: #ec7310;
    width: 15px;
    /* border: 0px; */
    box-shadow: -50px 0 0 45px #ec7310;
}
#trackSetVolume3::-moz-range-thumb,
#trackSetVolume3::-moz-range-progress {
    background: #ec7310;
}
#trackSetVolume4::-webkit-slider-thumb {
    background: #87cefa;
    width: 15px;
    /* border: 0px; */
    box-shadow: -50px 0 0 45px #87cefa;
}
#trackSetVolume4::-moz-range-thumb,
#trackSetVolume4::-moz-range-progress {
    background: #87cefa;
}
#trackSetVolume5::-webkit-slider-thumb {
    background: #58ffff;
    width: 15px;
    /* border: 0px; */
    box-shadow: -50px 0 0 45px #58ffff;
}
#trackSetVolume5::-moz-range-thumb,
#trackSetVolume5::-moz-range-progress {
    background: #58ffff;
}
#trackSetVolume6::-webkit-slider-thumb {
    background: #f3b272;
    width: 15px;
    /* border: 0px; */
    box-shadow: -50px 0 0 45px #f3b272;
}
#trackSetVolume6::-moz-range-thumb,
#trackSetVolume6::-moz-range-progress {
    background: #f3b272;
}
#trackSetVolume7::-webkit-slider-thumb {
    background: #ac25ac;
    width: 15px;
    /* border: 0px; */
    box-shadow: -50px 0 0 45px #ac25ac;
}
#trackSetVolume7::-moz-range-thumb,
#trackSetVolume7::-moz-range-progress {
    background: #ac25ac;
}

/* .trackSetPlay {
    grid-area: play;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-size: contain;
    background-image: url(../img/play.svg);
}

.trackSetStop {
    background-image: url(../img/stop.svg);
} */

.trackSetSwitch {
    grid-area: switch;
    width: 30px;
    height: 30px;
    background-color: #3f4a5a;
    border-radius: 5px;
    transition: all 0.3s;
}

/* .trackSetSwitch {
    grid-area: switch;
    display: block;
    position: relative;
    width: 44px;
    height: 24px;
} origin*/

/* 
.trackSetSwitch input {
    visibility: hidden;
}

.trackSetSlider {
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3f4a5a;
    -webkit-transition: .4s;
    transition: .4s;
}

.trackSetSlider::before {
    position: absolute;
    content: "";
    border-radius: 5px;
    height: 20px;
    width: 20px;
    left: 2px;
    top: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.trackSetSwitch input:checked + .trackSetSlider {
    background-color: #4D99CC;
}

.trackSetSwitch input:checked + .trackSetSlider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
} */

.trackSetNum {
    grid-area: number;
    font-size: 12px;
    align-self: flex-start;
}

.trackSetIcon {
    grid-area: icon;
    width: 30px;
}

@media (max-width:1200px) and (min-width:650px) {
    .trackSettingListDiv {
        grid-gap: 0 5px;
    }
    .trackSetDiv {
        padding: 5px 15px 5px 5px;
    }
}
@media (max-width:650px) {
    .trackSettingListDiv {
        grid-template-columns: auto auto;
        grid-template-rows: repeat(4,auto);
        grid-gap: 5px 5px;
        /* justify-content: flex-start; */
    }
    .trackSetDiv {
        grid-template-columns: 30px 30px 80px;
        grid-template-rows: 30px;
        grid-gap: 0px 5px;
        grid-template-areas:
            "icon switch volume";
        padding: 5px 5px;
        justify-items: center;
    }
    .trackSetVolume[type="range"] {
        transform: initial;
        width: 80px;
    }
    /* .trackSetVolume */
    .trackSetNum {
        display: none;
    }
}
@media (max-width:375px) {
    .trackSettingListDiv {
        grid-gap: 2px 2px;
    }
    .trackSetDiv {
        grid-template-columns: 13px 30px 80px;
        grid-gap: 0px 5px;
        grid-template-areas: "number switch volume";
        justify-items: center;
    }
    .trackSetIcon {
        display: none;
    }
    .trackSetNum {
        display: block;
    }
}

.b0 {
    background-color: #41d841;
    color: #0f1a2a;
}

.b1 {
    background-color: #d65d5d;
    color: #0f1a2a;
}

.b2 {
    background-color: #e2e228;
    color: #0f1a2a;
}

.b3 {
    background-color: #ec7310;
    color: #0f1a2a;
}

.b4 {
    background-color: #87cefa;
    color: #0f1a2a;
}

.b5 {
    background-color: #58ffff;
    color: #0f1a2a;
}

.b6 {
    background-color: #f3b272;
    color: #0f1a2a;
}

.b7 {
    background-color: #ac25ac;
    color: #0f1a2a;
}

.b0.bOn,.b1.bOn,.b2.bOn,.b3.bOn,.b4.bOn,.b5.bOn,.b6.bOn,.b7.bOn {
    transform: scale(1.1,1.1);
    background-color: #ffffff;
    filter: drop-shadow(5,5,5);
    animation: hit 0.3s;
}

@keyframes hit{
    0% {
        transform: scale(0.8,0.8);
        opacity: 0.8;
    }
    25% {
        transform: scale(1,1);
        opacity: 0.9;
    }
    50% {
        transform: scale(1.1,1.1);
        opacity: 1;
    }
    75% {
        transform: scale(1,1);
        opacity: 0.9;
    }
    100% {
        transform: scale(1,1);
        opacity: 1;
    }
}

#container>img{
    border: solid 1px white;
}


@media (min-width:1200px) and (min-height:800px),
(max-width:1200px) and (min-width:650px) and (min-height:800px),
(max-width:650px) and (min-height:800px){
    footer {
        position: absolute;
        bottom: 0;
    }
}